<div class="event">
  {% if event.time != null %}
    {% capture timestamp %}T{{ event.time }}+01:00{% endcapture %}
    {% capture human_date %}{{ event.date | date: "%-d %B" }} <span class="when">, {{ event.time }}</span>{% endcapture %}
  {% else %}
    {% capture timestamp %}{% endcapture %}
    {% capture human_date %}{{ event.date | date: "%-d %B" }}{% endcapture %}
  {% endif %}

  <time datetime="{{ event.date }}{{ timestamp }}">
    {{ human_date }}<br>

    {% if event.more-info %}
      <span class="what">
        <a class="more" href="{{ event.more-info }}" title="mehr-more-mas infos" target="_blank" rel="nofollow">{{ event.title }}</a>
      </span>
    {% else %}
      <span class="what">{{ event.title }}</span>
    {% endif %}<br>

    <span class="where">
      {% if event.where %}
        @
        {% if event.map != null %}
          <a href="{{ event.map }}" class="map" target="_blank" rel="nofollow">{{ event.where }}</a>
        {% else %}
          {{ event.where }}
        {% endif %}
      {% endif %}
    </span>
  </time>

  {% if event.content != '' %}
    <div class="info">
      <div class="desc">
        {{ event.content }}
      </div>
    </div><!-- .info -->
  {% endif %}
</div>
