//
// Events
//
// Events that appear in lists.
//
// Style guide: components.event
//

.event {
  padding-bottom: 1em;

  // Event date and time
  time {
    color: $bold;
    font-family: sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;

    br {
      @include min-width($grid-max) {
        display: none;
      }
    }

    .what {
      font-weight: 200;
      white-space: nowrap;
    }

    .when {
      white-space: nowrap;
    }

    .where {
      display: block;
      padding-left: 1.4em;
      font-style: italic;
      font-weight: normal;

      @include min-width($grid-max) {
        display: inline;
        padding-left: 0;
      }
    }

    // .more {
    //   @include min-width($grid-max) {
    //     padding: 0 2px;
    //     color: blue;
    //     background: rgba(white, .5);
    //     border-radius: 20%;
    //     border-bottom: 0;
    //   }
    // }
  }

  // Short description
  .info {
    margin: 1em 0;
    font-size: 1.2em;

    @include min-width($grid-max) {
      margin-left: 2em;
    }
  }

  // Map links
  .map {
    &::after {
      content: ' ';
      display: inline-block;
      width: 1em;
      height: 1em * (440/375);
      background: url('../img/maps-google.png');
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateX(3px) translateY(5px);
    }
  }
}
