//
// Events list
//
// Style guide: components.event-list
//
.event-list {
  .year {
    opacity: .32;
    font-size: 8em;
    margin: 0;
    padding-right: .2em;

    @include min-width($grid-max) {
      position: absolute;
      margin-left: -240px;

      & + .event {
        margin-top: 40px;
      }
    }
  }
}

//
// Individual Events
//
// Events that appear in lists.
//
// Style guide: components.event
//

.event {
  padding-bottom: 1em;
  overflow-x: hidden;
  text-overflow: ellipsis;

  // Event date and time
  time {
    color: $bold;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;

    br {
      @include min-width($grid-max) {
        display: none;
      }
    }

    .what {
      font-weight: 200;
    }

    .when {
      white-space: nowrap;
    }

    .where {
      display: block;
      padding-left: 1.4em;
      font-style: italic;
      font-weight: normal;
    }

    // on mobile there are line breaks. on desktop, none.
    .what,
    .where {
      padding-left: 1.4em;

      @include min-width($grid-max) {
        display: inline;
        padding-left: 0;
      }
    }
  }

  // Short description
  .info {
    margin: 1em 0;
    font-size: 1.2em;

    @include min-width($grid-max) {
      margin-left: 2em;
    }
  }

  // Map links
  .map {
    &::after {
      content: ' ';
      display: inline-block;
      width: 1em;
      height: 1em * (440/375);
      background: url('../img/maps-google.png');
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateX(3px) translateY(5px);
    }
  }
}
