//////////////////////////////////////////////////
// Footer
//////////////////////////////////////////////////

footer {
  // position on top of footer graphic
  position: relative;
  z-index: $z + 5;

  a {
    @extend %link;
  }

  .social {
    max-width: $grid-max;
    margin: 0 auto;
    padding: $base-gutter*2 0 0;
    text-align: center;

    // Default social link styles
    li {
      display: inline-block;

      @include min-width($grid-max) {
        margin-bottom: 0;
      }
    }

    // General icon styles
    a {
      overflow: hidden;
      display: inline-block;
      margin: .5em .4em 0;
      width: $base-gutter * 1.5;
      text-indent: $base-gutter * 2;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      border-bottom: 0;
    }

    // Individual icons
    .soundcloud a { background-image: url('../img/svg/social-soundcloud.svg'); }
    .youtube a    { background-image: url('../img/svg/social-youtube.svg'); }
    .instagram a  { background-image: url('../img/svg/social-instagram.svg'); }
    .facebook a   { background-image: url('../img/svg/social-facebook.svg'); }
    .twitter a    { background-image: url('../img/svg/social-twitter.svg'); }
    .email a      { background-image: url('../img/svg/social-email.svg'); }
  }

  .copyright {
    max-width: $grid-max;
    margin: 0 auto;
    text-align: center;
    color: $subdued;
    font-size: .9em;

    a {
      color: inherit;
      border-color: inherit;
      white-space: nowrap;
      font-size: .8em;

      &:hover {
        color: $bold;
      }
    }
  }
}
