//////////////////////////////////////////////////
// Footer
//////////////////////////////////////////////////

footer {
  // position on top of footer graphic
  position: relative;
  z-index: $z + 5;

  a {
    @extend %link;
  }

  .social {
    max-width: $grid-max;
    margin: 0 auto;
    padding: $base-gutter*2 0 0;
    text-align: center;

    // Hide footer links on social page
    .page--social & {
      display: none;
    }
  }

  .copyright {
    max-width: $grid-max;
    margin: 0 auto;
    text-align: center;
    color: $subdued;
    font-size: .9em;

    a {
      color: inherit;
      border-color: inherit;
      white-space: nowrap;
      font-size: .8em;

      &:hover {
        color: $bold;
      }
    }
  }
}
